<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Conexion a Base de Datos Access -->
    <add key="ProviderId1" value="1" />
    <add key="ConnectString1" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\Documents and Settings\Joel\Mis documentos\Delfin Net 2008\DelfinNet.mdb" />

    <!-- Conexion a Base de Datos SQL Server -->
    <add key="ProviderId" value="2" />
    <!--<add key="ConnectString" value="Provider=sqloledb;Data Source=(local)\SQLSERVER2014; Initial Catalog=AMC_12052017_Suc;User ID=sa;Password=sa;Current Language=us_english;Connect Timeout=1000;" />-->
    <add key="ConnectString" value="Provider=sqloledb;Data Source=(local)\SQL2008; Initial Catalog=LOFD360;User ID=sa;Password=sa;Current Language=us_english;Connect Timeout=1000;" />
    <!--<add key="ConnectString" value="Provider=sqloledb;Data Source=(local)\SQLSERVER2014; Initial Catalog=SyS_24042017_Suc; User ID=sa;Password=sa;Current Language=us_english" />-->
    
    <add key="HelpIndex" value="C:\Archivos de programa\Delfin Net\Documentacion\DelfinNet.chm" />
    <add key="HelpVideo" value="C:\Archivos de programa\Delfin Net\Documentacion\DelfinNet.exe" />
  </appSettings>
</configuration>
